@mixin tr() {
	-webkit-transition: all ease-in-out 300ms;
			transition: all ease-in-out 300ms
}

.header {
	display: grid;
	grid-template-areas:
		'logo nav'
		'phone phone'
		'order order';
	align-items: center;
	background-color: #121212;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
	padding: 15px;
	grid-row-gap: 15px
}

.header-logo {
	grid-area: logo;
	height: 100px
}

.header-logo__img {
	height: 100%
}

.navigation {
	grid-area: nav;
	text-align: right
}

.mobile-menu__icon {
	font-size: 23px;
	color: #ff6000;

	&:hover {
		color: lighten( #ff6000, 15% )
	}
}

.header-menu {
	position: fixed;
	z-index: 50;
	background-color: #323232;
	top: 0;
	width: 85%;
	height: 100%;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
	padding: 30px;
	@include tr();

	&.mobile-menu-open {
		left: 0
	}

	&.mobile-menu-closed {
		left: -100%
	}
}

.header-menu__item {
	text-align: left;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0
	}
}

.header-menu__link {
	font-family: Montserrat;
	font-weight: bold;
	color: #f9f9f9;

	&:hover {
		color: #ff6000
	}
}

.header-phone {
	grid-area: phone;
    justify-self: center
}

.header-phone__icon {
    font-size: 23px;
    color: #f9f9f9;
    margin-right: 10px
}

.header-phone__link {
	color: #f9f9f9;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 21px;

    &:hover {
    	color: #ff6000
    }
}

.header-order {
	grid-area: order;
	justify-self: center;
	width: 100%
}

.header-order__button {
	width: 100%
}

@media (min-width: 768px) {
	.header {
		grid-template-areas: 'logo nav phone order';
		grid-template-columns: 83px auto auto 297px;
		grid-column-gap: 30px;
		padding: 15px 30px
	}

	.navigation {
		text-align: left
	}

	.header-phone {
	    justify-self: end
	}

	.header-phone__link {
		font-size: 17px
	}

	.header-order {
		justify-self: end;
		width: auto
	}
}

@media (min-width: 992px) {
	.header-phone__link {
		font-size: 23px
	}
}

@media (min-width: 1200px) {
	.mobile-menu__icon {
		display: none
	}

	.header-menu {
		position: relative;
		top: auto;
		left: 0;
		z-index: 1;
		background-color: transparent;
		width: auto;
		height: auto;
		box-shadow: none;
		padding: 0;

		&.mobile-menu-open,
		&.mobile-menu-closed {
			left: 0
		}
	}

	.header-menu__item {
		float: left;
		margin-right: 20px;
		margin-bottom: 0;

		&:last-child {
			margin-right: 0
		}
	}
}